<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    <title>CSE Motors</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <% include partials/header %>
    </header>
    <nav>
        <% include partials/navigation %>
    </nav>
    <main>
        <h1>Welcome to CSE Motors!</h1>
        
        <section class="feature">
            <h2><span class="blue-text">DMC Delorean</span></h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="#" class="button">Own Today</a>
            <img src="public/images/Delorean.png" alt="DMC Delorean">
        </section>
        
        <section class="upgrades-reviews">
            <div class="upgrades">
                <h2>Delorean Upgrades</h2>
                <div class="grid">
                    <div>
                        <img src="/images/flux-capacitor.png" alt="Flux Capacitor">
                        <a href="#">Flux Capacitor</a>
                    </div>
                    <div>
                        <img src="/images/flame-decals.png" alt="Flame Decals">
                        <a href="#">Flame Decals</a>
                    </div>
                    <div>
                        <img src="/images/bumper-stickers.png" alt="Bumper Stickers">
                        <a href="#">Bumper Stickers</a>
                    </div>
                    <div>
                        <img src="/images/hub-caps.png" alt="Hub Caps">
                        <a href="#">Hub Caps</a>
                    </div>
                </div>
            </div>
            <div class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
